{% trans_default_domain 'FOSUserBundle' %}


{% if editPermision == true %}
    <h1>Mis Contribuciones</h1>
{% else %}
    <h1>Contribuciones de {{ user.username }}</h1>
{% endif %}

<div class="fos_user_user_show">

    <table>
        <thead>
            <tr>
                <th style="min-width: 110px;">Título</th>
                <th colspan="4"></th>
            </tr>
        </thead>
        {% for p in publications %}
        <tr class="publication-row">
            <td>{{ p.idWritting.title }}</td>
            <td>&nbsp;</td>
            {% if editPermision == true %}
            <td>
                <a href="{{ path('edit-publication', {'idPublication': p.id, 'idMusa': p.idMusa[0].id}) }}" title="Editar">
                    <img src="/img/write-over.png" alt="Editar">
                </a>
            </td>
            <td>
                <a href="{{ path('delete-publication', {'idPublication': p.id, 'idMusa': p.idMusa[0].id}) }}" class="delete" title="Borrar">
                    <img src="/img/delete-over.png" alt="Borrar">
                </a>
            </td>
            <td>
                <a href="{{ path('show-publication', {'idPublication' : p.id}) }}" title="Ver">
                    <img src="/img/book-over.png" alt="Ver">
                </a>
            </td>
            <td>
                Ha gustado <em>{{ likes[p.id] }}</em> veces
            </td>
            {% else %}
            <td>
                <a href="{{ path('show-publication', {'idPublication' : p.id}) }}" title="Ver">
                    <img src="/img/book-over.png" alt="Ver">
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>



{% block javascripts %}
    <!-- jQuery library (served from Google) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="application/javascript">
        $(document).ready(function(){
            var $publicationRow = $(".publication-row");
            var $icon = $(".publication-row a img");

            $publicationRow.mouseenter(function(){
                $(this).css('color', 'rgba(3, 85, 176, 0.8)');
            });
            $publicationRow.mouseleave(function(){
                $(this).css('color', 'black');
            });
            $icon.mouseenter(function(){
                $(this).attr('src', $(this).attr('src').replace('-over',''));
            });
            $icon.mouseleave(function(){
                $(this).attr('src', $(this).attr('src').replace('.png','-over.png'));
            });
            $('.delete').click(function(event){
                var flag = confirm("¿Seguro que quieres borrar este escrito?");
                if (flag) {
                    return;
                } else {
                    event.preventDefault();
                }

            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
<style type="text/css">
    .fos_user_user_show {
        overflow-y: auto; 
        overflow-x: hidden;
    }
</style>
{% endblock %}
