<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Amimusa: El espacio de las musas{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='https://fonts.googleapis.com/css?family=Caveat+Brush' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
        <link href='/assets/base.css' rel='stylesheet' type='text/css' />
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                <div style="float: right">
                    <a href="{{ path('new-publication') }}">Me siento inspirado</a>
                </div>
            {% endblock %}
            <p>Comparte tu inspiración</p>
        </header>
        
        {% block login %}
            <div id="login">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} //
                    <a href="{{ path('fos_user_profile_show') }}">
                        Ir a mi espacio
                    </a> //
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>

                {% else %}
                   {% render controller("FOSUserBundle:Security:login") %}
                {% endif %}
            </div>
            <br style="clear:both">
        {% endblock %}
        
        {% block body %}
            {% block fos_user_content %}{% endblock fos_user_content %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
