<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Amimusa: El espacio de las musas{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='https://fonts.googleapis.com/css?family=Caveat+Brush' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
        <style type="text/css">
            body {
                background-image: url('/img/background.jpg');
                background-size: cover;
                background-repeat: no-repeat;
            }
            header {
                /*margin: auto;*/
                margin: 0 0 2em 0;
                width: 100%;
            }
            header p {
                font-family: 'Walter Turncoat', cursive;
                font-size: 4em;
                color: #1a82f7;
                margin: 0 0 0 0.6em;
                text-shadow: -1px -1px 3.4px #d2d2d2;
            }
            header small {
                /*color: #929292;*/
                font-family: 'Poiret One', cursive;
                font-size: 1em;
                display: inline-block;
                color: #d2d2d2;
                text-shadow: -1px -1px 1.4px #2d2d2d;
            }
            header a {
                float: right;
                font-family: 'Walter Turncoat', cursive;
                text-decoration: none;
                color: #d2d2d2;
                font-size: 1em;
                padding: 0.4em 1em 0.4em 1em;
                background-color: rgba(3, 85, 176, 0.8);
                border-radius: 2.5em;
                border-top: 1px solid #d2d2d2;
                border-bottom: 1px solid #d2d2d2;
            }
            #login {
                font-family: 'Poiret One', cursive;
                font-weight: bold;
                color: #2d2d2d;
                float: right;
                margin: 0 0.6em 1em 0;
            }
            #login a {
                text-decoration: none;
                color: #2d2d2d;
            }
            #login a:hover {
                text-decoration: underline;
            }
        </style>
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                <div style="float: right">
                    <a href="{{ path('new-publication') }}">Me siento inspirado</a>
                </div>
            {% endblock %}
            <p><small>Comparte tu inspiración</small></p>
        </header>
        
        {% block login %}
            <div id="login">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                   {% render controller("FOSUserBundle:Security:login") %}
                {% endif %}
            </div>
            <br style="clear:both">
        {% endblock %}
        
        {% block body %}
            {% block fos_user_content %}{% endblock fos_user_content %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
