{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block login %}
    <div id="login">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
           <span>{{ 'layout.nologged_in'|trans({}, 'FOSUserBundle') }}</span>
        {% endif %}
    </div>
{% endblock %}

{% block body %}
    <div id="container">
        <div id="formWrapper">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    {{ form_label(form.title) }}
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.musas) }}
                    {{ form_widget(form.musas, { 'attr': {'class': 'form-control musas', 'rows': 1, 'style' : 'resize: none'} }) }}
                    <p class="form-message">Pulsa ENTER después de indicar tu musa o selecciona alguna de las existentes:</p>
                </div>
                <div id="musas"></div>

            </div>

            <div class="col-xs-8">
                <div class="form-group">
                    {{ form_label(form.body) }}
                    {{ form_errors(form.body) }}
                    {{ form_widget(form.body, { 'attr': {'class': 'form-control body-writting', 'rows': 16} }) }}
                </div>
                <div id="musas-list"><div id="error-message">{{ form_errors(form.musas) }}</div></div>
                {{ form_widget(form.musasid_list, { 'attr': {'id': 'musasid_list', 'required': 'required'} }) }}
            </div>

            <div class="pull-right" style="margin-top: 40px;">
            {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary'} }) }}
            <a class="btn btn-default" href="{{ path('homepage') }}">Volver</a>
            </div>

        </div>

        {{ form_end(form) }}
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <!-- jQuery library (served from Google) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/publication-handler.js"></script>

    <script type="application/javascript">
        $(document).ready(function(){
            var musas = [];
            {% for m in musas %}
            var obj = {
                'name': '{{ m.name|replace({"\n":""}) }}',
                'id': {{ m.id }}
            }
            musas.push(obj);
            {% endfor %}

            for (var i = 0; i < musas.length; i++) {
                $("#musas").createMusa({id: musas[i].id, name: musas[i].name});
            }
            $("#form_musasid_list").val('');
        });
    </script>
{% endblock %}
{% block stylesheets %}
    <!-- Bootstrap -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/publication.css" rel="stylesheet">
{% endblock %}
