{% extends 'base.html.twig' %}

{% block body %}

    <div id="container">

    <div id="container-centered">
        <div class="titlesWrapper">
            <h2 class="musa-title">Amimusa {{ musa }}</h2>
            {% for wp in publications %}
                <a data-publicationid="{{ wp.id }}" data-slide-index="{{ loop.index-1 }}" href="" class="titles">
                    {{ wp.idWritting.title }}
                </a>
            {% endfor %}
        </div>
        <div id="mobile-menu">
            &#9776; Más&nbsp;
        </div>
        <br>

        <div style="float: left">
            <ul class="bxslider">
            {% for p in publications %}
                    <li>
                        <a href="{{ path('homepage') }}" class="back-link">
                            <img src="/img/cancel2.png" alt="[X]">
                        </a>

                        <div class="writtingWrapper">
                            <h1>{{ p.idWritting.title }}</h1>
                            <p>{{ p.idWritting.body | raw }}</p>
                            <p>&nbsp;</p>
                        </div>

                        <div class="contributorWrapper">
                            <h2>
                                <a href="{{ path('fos_user_profile_show', {'idContributor' : p.idContributor.id}) }}">
                                    <img src="{{ asset('/img/profile.png') }}">{{ p.idContributor.username }}
                                </a>
                            </h2>
                        </div>

                        <div class="socialWrapper">
                             <span class="like" data-shareurl="{{ path('like-publication', {'idPublication' : p.id}) }}" data-idpublication="{{ p.id }}">
                                 <img src="{{ asset('/img/black-heart.png') }}">Me Gusta
                             </span>
                             <span class="share" data-shareurl="{{ url('show-publication', {'idPublication' : p.id}) }}">
                                 <img src="{{ asset('/img/facebook-logo-on-square.png') }}">Compartir
                             </span>
                        </div>
                        {% if likes[p.id] == 1 %}
                            <p class="likes">Ha gustado <span id="likes_{{ p.id }}">{{ likes[p.id] }}</span> vez</p>
                        {% elseif  likes[p.id] > 1%}
                            <p class="likes">Ha gustado <span id="likes_{{ p.id }}">{{ likes[p.id] }}</span> veces</p>
                        {% endif %}
                    </li>
            {% endfor %}
            </ul>
            {#
            <div id="prev"></div>
            <div id="next"></div>
            #}
        </div>

    </div>

</div>

{% endblock %}

{% block javascripts %}
    <!-- jQuery library (served from Google) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    
    <!-- bxSlider Javascript file -->
    <script src="/assets/bxslider/jquery.bxslider.js"></script>
    <script type="application/javascript">
        $(document).ready(function(){

            if (!window.mobilecheck()) {
                var fbSharer = 'http://www.facebook.com/sharer.php';
            } else {
                var fbSharer = 'http://m.facebook.com/sharer.php';
            }

            $('.bxslider').bxSlider({
                pager:true,
                controls: false,
                adaptiveHeight: true,
                slideWidth: 940,
                infiniteLoop: false,
                hideControlOnEnd: true,
                pagerCustom: '.titlesWrapper'
            });

            var $bxsliderContainer = $('.bx-wrapper .bx-viewport');
            $bxsliderContainer.css('text-align', 'center');

            var $shareButton = $(".share");
            $shareButton.click(function(){
                var url = $(this).data('shareurl');

                var y = window.outerHeight / 2;
                var x = window.outerWidth / 2;
                window.open(fbSharer + "?p[url]="+url, "Compartir Inspiracion", "height=200,width=480, top=" + y + ", left=" + x);
            });
            var $likeButton = $(".like");
            $likeButton.click(function(){
                var $likesCounter = $("#likes_"+$(this).data('idpublication'));
                var nLikes = parseInt($likesCounter.text());
                $likesCounter.text(++nLikes);
                var url = $(this).data('shareurl');
                var y = window.outerHeight / 2;
                var x = window.outerWidth / 2;
                var opener = window.open(url, "Me gusta", "height=200,width=480, top=" + y + ", left=" + x);
                var obj = $(this);
                window.setTimeout(function(){
                    opener.close();
                    obj.unbind();
                }, 2000);

            });

            var $visited = $(".titles");
            $visited.click(function(){
                var titlesWrapper = $(".titlesWrapper");
                console.log($(this).data('publicationid'));
                titlesWrapper.hide('slow');

            });
/*
            var $like = $('.like');
            $like.click(function(){
                console.log($(this))
            });
*/
            var $mobileMenu = $("#mobile-menu");
            $mobileMenu.click(function(){
                var titlesWrapper = $(".titlesWrapper");
                var isClose = (titlesWrapper.css('display') == 'none');
                if (isClose) {
                    titlesWrapper.show('slow');
                } else {
                    titlesWrapper.hide('slow');
                }

            });
        });


    </script>
{% endblock %}

{% block stylesheets %}
    <!-- bxSlider CSS file -->
    <link href="/assets/bxslider/jquery.bxslider.css" rel="stylesheet" />

    <link href="/assets/show-publications.css" rel="stylesheet" />
{% endblock %}
