{% extends 'base.html.twig' %}

{% block body %}
<div id="container">
    
    <ul class="bxslider">
    {% for p in publications %}
            <li>
                <span class="back-link">
                    <a href="{{ path('homepage') }}">
                        <img src="/img/cancel3.png" alt="X">
                    </a>
                </span>
    
                {% if loggedUsername  == p.idContributor.username %}
                
                <p class="edit op-link">
                    <a href="{{ path('edit-publication', {'idPublication': p.id, 'idMusa': app.request.get('idMusa')}) }}">Editar</a>
                </p>
                <p class="delete op-link">
                    <a href="{{ path('delete-publication', {'idPublication': p.id, 'idMusa': app.request.get('idMusa')}) }}">Borrar</a>
                </p>

                {% endif %}

                <div class="musasWrapper">
                {% for m in p.idMusa %}
                <h2>{{ m.name }}</h2>
                {% endfor %}
                </div>

                <h1>{{ p.idWritting.title }}</h1>
                <div class="writtingWrapper">
                <p>{{ p.idWritting.body | raw }}</p>
                <p>&nbsp;</p>
                </div>

            </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block javascripts %}
    <!-- jQuery library (served from Google) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    
    <!-- bxSlider Javascript file -->
    <script src="/assets/bxslider/jquery.bxslider.min.js"></script>
    <script type="application/javascript">
        $(document).ready(function(){

            $('.bxslider').bxSlider({
                pager:false,
                adaptiveHeight: true,
                slideWidth: 940,
            });

            var $bxsliderContainer = $('.bx-wrapper .bx-viewport');
            $bxsliderContainer.css('background-color', '#F4F4F4');
            $bxsliderContainer.css('text-align', 'center');
            
            var $writting = $('.bxslider .writtingWrapper');
            $writting.css('background-repeat', 'no-repeat');
            $writting.css('background-position', 'center');

            $(window).trigger('resize');

            $('.delete').click(function(event){
                var flag = confirm("¿Seguro que quieres borrar este escrito?");
                if (flag) {
                    return;
                } else {
                    event.preventDefault();
                }
                
            });


        });

    </script>
{% endblock %}
{% block stylesheets %}
        <!-- bxSlider CSS file -->
    <link href="/assets/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <style type="text/css">
        #container {
            margin: auto;
            width: 100%;
        }
        .bxslider h2 {
            color: #5454ff;
            font-family: 'Poiret One', cursive;
            text-transform: uppercase;
            font-size: 1em;
            text-shadow: 0 0.4em 0.4em #4d4d4d;
        }
        .bxslider h1 {
            font-family: 'Poiret One', cursive;
            color: #fff;
            text-shadow: -1px -1px 1.4px #000;
            clear: both;
            text-align: center;
        }
        .bxslider .writtingWrapper {
            font-family: 'Special Elite', cursive;
            font-size: 1.2em;
            color: #2d2d2d;
            width: 80%;
            margin-left: 10%;
        }
        .bx-wrapper .bx-viewport {
            background: rgba(255,255,255,0.6) !important;
            border: 0.1em solid #969696 !important;
        }
        .bx-wrapper .musasWrapper {
            position: absolute;
            top: 0.4em;
            left: 52em;
        }
        span.back-link {
            display: inline-block;
            position: absolute;
            left: 57.1em;
            top: -0.8em;
        }
        .op-link a {
            text-decoration: none;
            display: inline-block;
            font-family: "Arial Black", Gadget, sans-serif;
            color: #d2d2d2;
        }
        p.op-link {
            font-size: 1em;
            display: block;
            text-align: right;
            float: left;
            padding: 0.2em 3em;
            border-radius: 2.5em;
        }
        p.edit {
            margin-left: 3em;
            background-image: none !important;
            background-color: #969696;
        }
        .edit a {
            text-shadow: 0px 0.4em 0.4em #4d4d4d;
        }
        p.delete {
            margin-left: 1em;
            background-image: none !important;
            background-color: #BA000E;
        }
        .delete a {
            text-shadow: 0px 0.4em 0.4em #6E0008;
        }
    </style>
{% endblock %}
