{% extends 'base.html.twig' %}

{% block body %}
<div id="container">

    <div id="container-centered">
        <div class="titlesWrapper">
            <h2 class="musa-title">Amimusa {{ musa }}</h2>
            {% for wp in publications %}
                <a data-slide-index="{{ loop.index-1 }}" href="" class="titles">
                    {{ wp.idWritting.title }}
                </a>
            {% endfor %}
        </div>

        <div style="float: left">
            <ul class="bxslider">
            {% for p in publications %}
                    <li>
                        <a href="{{ path('homepage') }}" class="back-link">
                            <img src="/img/cancel2.png" alt="[X]">
                        </a>

                        <div class="writtingWrapper">
                            <h1>{{ p.idWritting.title }}</h1>
                            <p>{{ p.idWritting.body | raw }}</p>
                            <p>&nbsp;</p>
                        </div>

                        <div class="contributorWrapper">
                            <h2>Por&nbsp;<a href="{{ path('fos_user_profile_show', {'idContributor' : p.idContributor.id}) }}">{{ p.idContributor.username }}</a></h2>
                        </div>

                        <div class="socialWrapper">
                            <span>Me gusta</span> | <a href="http://www.facebook.com/sharer.php?p[url]={{ url('show-publication', {'idPublication' : p.id}) }}">Compartir</a>
                        </div>

                    </li>
            {% endfor %}
            </ul>
            {#
            <div id="prev"></div>
            <div id="next"></div>
            #}
        </div>

    </div>

</div>
{% endblock %}

{% block javascripts %}
    <!-- jQuery library (served from Google) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    
    <!-- bxSlider Javascript file -->
    <script src="/assets/bxslider/jquery.bxslider.js"></script>
    <script type="application/javascript">
        $(document).ready(function(){
            var idx;
            $('.bxslider').bxSlider({
                pager:true,
                controls: false,
                adaptiveHeight: true,
                slideWidth: 940,
                infiniteLoop: false,
                hideControlOnEnd: true,
                pagerCustom: '.titlesWrapper',
                //nextSelector: '#next',
                //prevSelector: '#prev'

            });

            var $bxsliderContainer = $('.bx-wrapper .bx-viewport');
            $bxsliderContainer.css('text-align', 'center');

        });


    </script>
{% endblock %}

{% block stylesheets %}
    <!-- bxSlider CSS file -->
    <link href="/assets/bxslider/jquery.bxslider.css" rel="stylesheet" />

    <link href="/assets/show-publications.css" rel="stylesheet" />
{% endblock %}
