{% extends 'base.html.twig' %}

{% block opengraph %}
    <meta property="og:url" content="{{ url('show-publication', {'idPublication' : id}) }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="Inspiración basado en {{ musa }}" />
    <meta property="og:image" content="{{ absolute_url(asset('/img/shared.jpg')) }}" />
{% endblock %}

{% block body %}
<div id="container">
    <div id="container-centered">
    
    <ul class="bxslider">

            <li>
                <span class="back-link">
                    <a href="{{ returnPath }}">
                        <img src="/img/cancel2.png" alt="X">
                    </a>
                </span>

                <h1>{{ title }}</h1>
                <div class="writtingWrapper">
                    <p>{{ body | raw }}</p>
                    <p>&nbsp;</p>
                </div>

                <div class="contributorWrapper">
                    <h2>Por&nbsp;<a href="{{ path('fos_user_profile_show', {'idContributor' : contributorId}) }}">{{ username }}</a></h2>
                </div>
            </li>

    </ul>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <!-- jQuery library (served from Google) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    
    <!-- bxSlider Javascript file -->
    <script src="/assets/bxslider/jquery.bxslider.js"></script>
    <script type="application/javascript">
        $(document).ready(function(){

            $('.bxslider').bxSlider({
                pager:false,
                adaptiveHeight: true,
                slideWidth: 940,
            });

            var $bxsliderContainer = $('.bx-wrapper .bx-viewport');
            $bxsliderContainer.css('background-color', '#F4F4F4');
            $bxsliderContainer.css('text-align', 'center');
            
            var $writting = $('.bxslider .writtingWrapper');
            $writting.css('background-repeat', 'no-repeat');
            $writting.css('background-position', 'center');

            $(window).trigger('resize');

        });

    </script>
{% endblock %}
{% block stylesheets %}
    <!-- bxSlider CSS file -->
    <link href="/assets/bxslider/jquery.bxslider.css" rel="stylesheet" />

    <link href="/assets/show-publications.css" rel="stylesheet" />
{% endblock %}
