{% extends 'base.html.twig' %}

{% block opengraph %}
    <meta property="og:url" content="{{ url('show-publication', {'idPublication' : id}) }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="Inspiración basado en {{ musa }}" />
    <meta property="og:image" content="{{ absolute_url(asset('/img/shared.jpg')) }}" />
{% endblock %}

{% block body %}
<div id="container">
    <div id="container-centered">
    
    <ul class="bxslider">

            <li>
                <span class="back-link">
                    <a href="{{ returnPath }}">
                        <img src="/img/cancel2.png" alt="X">
                    </a>
                </span>

                <h1>{{ title }}</h1>
                <div class="writtingWrapper">
                    <p>{{ body | raw }}</p>
                </div>

                <div class="contributorWrapper">
                    <h2><a href="{{ path('fos_user_profile_show', {'idContributor' : contributorId}) }}"><img src="{{ asset('/img/profile.png') }}">{{ username }}</a></h2>
                </div>

                <div class="socialWrapper">

                             <span class="like" data-shareurl="{{ path('like-publication', {'idPublication' : id}) }}">
                                 <img src="{{ asset('/img/black-heart.png') }}">Me Gusta
                             </span>


                             <span class="share" data-shareurl="{{ url('show-publication', {'idPublication' : id}) }}">
                                 <img src="{{ asset('/img/facebook-logo-on-square.png') }}">Compartir
                             </span>

                </div>
                <br />

            </li>

    </ul>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <!-- jQuery library (served from Google) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    
    <!-- bxSlider Javascript file -->
    <script src="/assets/bxslider/jquery.bxslider.js"></script>
    <script type="application/javascript">
        $(document).ready(function(){
            
            var fbSharer        = 'https://www.facebook.com/dialog/share?app_id=1571698523157547&display=popup&redirect_uri=http://www.amimusa.net&href=';

            $('.bxslider').bxSlider({
                pager:false,
                controls: false,
                adaptiveHeight: true,
                slideWidth: 940,
            });

            var $bxsliderContainer = $('.bx-wrapper .bx-viewport');
            $bxsliderContainer.css('background-color', '#F4F4F4');
            $bxsliderContainer.css('text-align', 'center');
            $bxsliderContainer.css('border-radius', '5px');
            
            var $writting = $('.bxslider .writtingWrapper');
            $writting.css('background-repeat', 'no-repeat');
            $writting.css('background-position', 'center');

            $(window).trigger('resize');

            var $shareButton = $(".share");
            $shareButton.click(function(){
                var url = $(this).data('shareurl');

                var y = window.outerHeight / 2;
                var x = window.outerWidth / 2;
                window.open(fbSharer + url, "Compartir Inspiracion", "height=200,width=480, top=" + y + ", left=" + x);
            });
            var $likeButton = $(".like");
            $likeButton.click(function(){
                var url = $(this).data('shareurl');
                var y = window.outerHeight / 2;
                var x = window.outerWidth / 2;
                var opener = window.open(url, "Me gusta", "height=200,width=480, top=" + y + ", left=" + x);
                window.setTimeout(function(){
                    opener.close();
                }, 2000);

            });

        });

    </script>
{% endblock %}
{% block stylesheets %}
    <!-- bxSlider CSS file -->
    <link href="/assets/bxslider/jquery.bxslider.css" rel="stylesheet" />

    <link href="/assets/show-publications.css" rel="stylesheet" />
{% endblock %}
