{% extends 'base.html.twig' %}

{% block body %}
<div id="container">
    <div class="back-link">
        <a href="{{ path('homepage') }}">Cerrar</a>
    </div>
    <ul class="bxslider">
    {% for p in publications %}
            <li>
                <p class="edit-link">
                    <a href="{{ path('edit-publication', {'idPublication': p.id, 'idMusa': app.request.get('idMusa')}) }}">Editar</a>
                </p>
                <p class="delete-link">
                    <a href="{{ path('delete-publication', {'idPublication': p.id, 'idMusa': app.request.get('idMusa')}) }}">Borrar</a>
                </p>
                {% for m in p.idMusa %}
                <h2>{{ m.name }}</h2>
                {% endfor %}

                <h1>{{ p.idWritting.title }}</h1>
                <div class="writtingWrapper">
                <p>{{ p.idWritting.body | raw }}</p>
                </div>

            </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block javascripts %}
    <!-- jQuery library (served from Google) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <!-- bxSlider Javascript file -->
    <script src="/assets/bxslider/jquery.bxslider.min.js"></script>
    <script type="application/javascript">
        $(document).ready(function(){
            $('.bxslider').bxSlider({pager:false});

            var $bxsliderContainer = $('.bx-wrapper .bx-viewport');
            $bxsliderContainer.css('background-color', '#F4F4F4');
            $bxsliderContainer.css('text-align', 'center');

            var $writting = $('.bxslider .writtingWrapper');
            $writting.css('background-repeat', 'no-repeat');
            $writting.css('background-position', 'center');

            $(window).trigger('resize');

        });

    </script>
{% endblock %}
{% block stylesheets %}
        <!-- bxSlider CSS file -->
    <link href="/assets/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <style type="text/css">
        #container {
            margin: auto;
            width: 1366px;
        }
        .bxslider h2 {
            color: #5454ff;
            display: inline-block;
            float: right;
            font-family: "Walter Turncoat",cursive;
            font-size: 1.6em;
            padding: 5px;
            text-shadow: 0 2px 2px #4d4d4d;
        }
        .bxslider h1 {
            font-family: 'Poiret One', cursive;
            color: #d2d2d2;
            text-shadow: 0px 2px 2px #4d4d4d;
            clear: both;
        }
        .bxslider .writtingWrapper {
            font-family: 'Architects Daughter', cursive;
            font-size: 22px;
            color: #2d2d2d;
            width: 90%;
            margin: auto auto;
        }
        .bx-wrapper .bx-viewport {
            background: rgba(255,255,255,0.6) !important;
            border: 2px solid rgba(255,255,255,0.2) !important;

        }
        div.back-link {
            font-size: 1em;
            background-color: rgba(255,255,255,0.6) !important;
            border: 2px solid rgba(255,255,255,0.2) !important;
            padding: 1px 10px;
            display: inline-block;
            margin-left: 1285px;
            border-radius: 25px 0 0 0;

        }
        .back-link a {
            text-decoration: none;
            display: inline-block;
            font-family: "Arial Black", Gadget, sans-serif;
            color: #BA000E;
            text-shadow: 0px 2px 2px #d2d2d2;
        }
        .back-link img {
            vertical-align: middle;
        }
        p.edit-link {
            font-size: 18px;
            display: block;
            text-align: right;
            margin-left: 3em;
            background-image: none !important;
            float: left;
            background-color: #969696;
            padding: 1px 10px;
            border-radius: 25px;

        }
        .edit-link a {
            text-decoration: none;
            display: inline-block;
            font-family: "Arial Black", Gadget, sans-serif;
            color: #d2d2d2;
            text-shadow: 0px 2px 2px #4d4d4d;
        }
        p.delete-link {
            font-size: 18px;
            display: block;
            text-align: right;
            margin-left: 1em;
            background-image: none !important;
            float: left;
            background-color: #BA000E;
            padding: 1px 10px;
            border-radius: 25px;

        }
        .delete-link a {
            text-decoration: none;
            display: inline-block;
            font-family: "Arial Black", Gadget, sans-serif;
            color: #d2d2d2;
            text-shadow: 0px 2px 2px #4d4d4d;
        }
    </style>
{% endblock %}
