{% extends 'base.html.twig' %}

{% block body %}
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '1571698523157547',
                xfbml      : true,
                version    : 'v2.5'
            });
            FB.Event.subscribe('xfbml.render', function(){
                //alert('You just liked the page!');
                var $bxsliderContainer = $('.bx-wrapper .bx-viewport');
                $bxsliderContainer.css('height', $bxsliderContainer.height() + $('.socialWrapper').outerHeight(false));
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_ES/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    <div id="container">

    <div id="container-centered">
        <div class="titlesWrapper">
            <h2 class="musa-title">Amimusa {{ musa }}</h2>
            {% for wp in publications %}
                <a data-slide-index="{{ loop.index-1 }}" href="" class="titles">
                    {{ wp.idWritting.title }}
                </a>
            {% endfor %}
        </div>

        <div style="float: left">
            <ul class="bxslider">
            {% for p in publications %}
                    <li>
                        <a href="{{ path('homepage') }}" class="back-link">
                            <img src="/img/cancel2.png" alt="[X]">
                        </a>

                        <div class="writtingWrapper">
                            <h1>{{ p.idWritting.title }}</h1>
                            <p>{{ p.idWritting.body | raw }}</p>
                            <p>&nbsp;</p>
                        </div>

                        <div class="contributorWrapper">
                            <h2>Por&nbsp;<a href="{{ path('fos_user_profile_show', {'idContributor' : p.idContributor.id}) }}">{{ p.idContributor.username }}</a></h2>
                        </div>

                        <div class="socialWrapper">

                                <!-- Your like button code -->
                                <div class="fb-like"
                                     data-href="{{ url('show-publication', {'idPublication' : p.id}) }}"
                                     data-layout="button"
                                     data-action="like"
                                     data-show-faces="true"
                                     data-share="false">
                                </div>

                             <span class="share" data-shareurl="{{ url('show-publication', {'idPublication' : p.id}) }}">
                                 Compartir
                             </span>

                        </div>

                    </li>
            {% endfor %}
            </ul>
            {#
            <div id="prev"></div>
            <div id="next"></div>
            #}
        </div>

    </div>

</div>

{% endblock %}

{% block javascripts %}
    <!-- jQuery library (served from Google) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    
    <!-- bxSlider Javascript file -->
    <script src="/assets/bxslider/jquery.bxslider.js"></script>
    <script type="application/javascript">
        $(document).ready(function(){
            $('.bxslider').bxSlider({
                pager:true,
                controls: false,
                adaptiveHeight: true,
                slideWidth: 940,
                infiniteLoop: false,
                hideControlOnEnd: true,
                pagerCustom: '.titlesWrapper'
            });

            var $bxsliderContainer = $('.bx-wrapper .bx-viewport');
            $bxsliderContainer.css('text-align', 'center');

            var $shareButton = $(".share");
            $shareButton.css("cursor", "pointer");

            $shareButton.click(function(){
                var url = $(this).data('shareurl');
                var y = window.outerHeight / 2;
                var x = window.outerWidth / 2;
                window.open("http://www.facebook.com/sharer.php?p[url]="+url, "Compartir Inspiracion", "height=200,width=480, top=" + y + ", left=" + x);
            });

        });


    </script>
{% endblock %}

{% block stylesheets %}
    <!-- bxSlider CSS file -->
    <link href="/assets/bxslider/jquery.bxslider.css" rel="stylesheet" />

    <link href="/assets/show-publications.css" rel="stylesheet" />
{% endblock %}
