                {{ form_start(formMobile) }}
                <div class="form-group">
                    {{ form_label(formMobile.title) }}
                    {{ form_errors(formMobile.title) }}
                    {{ form_widget(formMobile.title, { 'attr': {'class': 'form-control'} }) }}
                </div>

                <div class="form-group">
                    {{ form_label(formMobile.body) }}
                    {{ form_errors(formMobile.body) }}
                    {{ form_widget(formMobile.body, { 'attr': {'class': 'form-control body-writting', 'rows': 16} }) }}
                </div>

                {{ form_widget(formMobile.musasid_list, { 'attr': {'id': 'musasid_list', 'required': 'required'} }) }}
                <div class="form-group">
                    {{ form_label(formMobile.musas) }}
                    {{ form_widget(formMobile.musas, { 'attr': {'class': 'form-control musas'}, 'id': 'formMobile_musas' }) }}
                </div>

                <div id="musas-list"><div id="error-message">{{ form_errors(formMobile.musas) }}</div></div>

                <div class="pull-right" style="margin: 20px 20px 0 0;padding-bottom:1em;">
                {{ form_widget(formMobile.save, { 'attr': {'class': 'btn btn-primary'} }) }}
                <a class="btn btn-default" href="{{ path('homepage') }}">Volver</a>
                </div>
                {{ form_end(formMobile) }}

