{% trans_default_domain 'FOSUserBundle' %}
    
<div id="loginWrapper">

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <input placeholder="{{ 'security.login.username'|trans }}" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        <input placeholder="{{ 'security.login.password'|trans }}" type="password" id="password" name="_password" required="required" />
        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </form>
    <br style="clear:both">
    <span>
        <a href="{{ path('fos_user_registration_register') }}">
            {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
        </a>
    </span>

    {% if error %}
        <div id="_errorWrapper">
            <a style="float: right;" href="{{ path('homepage') }}"><img src="{{ asset( 'img/cancel2.png' ) }}" alt="[X]"></a>
            <p id="_error">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST">
                <div>
                    {% if invalid_username is defined %}
                        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                    {% endif %}
                    <input placeholder="{{ 'resetting.request.username'|trans }}" type="text" id="username" name="username" value="{{ last_username }}" required="required" />
                    <input type="submit" id="_reset" name="_reset" value="{{ 'resetting.request.submit'|trans }}" />
                </div>
            </form>
        </div>
    {% endif %}

</div>
